@import url("../fonts/stylesheet.css");
/*** 

====================================================================
	Reset
====================================================================

***/
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  color: #000;
  line-height: 1.7em;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

body.active {
  overflow: hidden;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.6em;
}

/* Typography */
h1 {
  font-size: 4em;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

p {
  position: relative;
  line-height: 1.8em;
}

.auto__container {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.upheader {
  background: #fcd34f;
}
.upheader__inner {
  padding: 16px 20px;
  display: block;
}
.upheader__inner-text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.upheader__inner-tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.upheader__inner-tel svg {
  margin-right: 5px;
  fill: #3136a0;
}
.upheader__inner-tel span {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 0%;
  color: #3136a0;
}

.header {
  position: relative;
  z-index: 1;
}
.header__inner {
  padding: 0 20px 14px 20px;
}
.header__inner-logo {
  width: 165px;
}
.header__inner-logo img {
  width: 100%;
}

.form {
  background: #fcd34f;
}
.form__inner {
  padding: 40px 20px 20px 20px;
}
.form__inner-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #273583;
}
.form__inner-title span {
  font-weight: 700;
  color: #000;
}
.form__inner.hidden {
  display: none;
}
.form__complete {
  padding: 100px 0;
  position: relative;
  overflow: hidden;
}
.form__complete-image {
  position: absolute;
  bottom: 0;
  right: -30px;
  width: 250px;
}
.form__complete-image img {
  width: 100%;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  opacity: 0.6;
}
.form__complete-icon {
  margin-bottom: 20px;
}
.form__complete-icon svg {
  fill: #fff;
}
.form__complete-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #3136a0;
}
.form__complete-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
  color: #000000;
}
.form__complete.hidden {
  display: none;
}
.form__btn {
  font-family: "Cy";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background: #3136a0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #ffffff;
  padding: 12px 0;
  display: block;
  width: 100%;
}
.form__btn:disabled {
  opacity: 0.8;
}
.form__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14px;
  position: relative;
}
.form__check label {
  width: calc(100% - 18px);
  padding-left: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 140%;
  color: rgba(40, 45, 167, 0.36);
  font-weight: 700;
  position: relative;
}
.form__check label::before {
  position: absolute;
  top: 5px;
  left: 0;
  background: #ededed;
  border-radius: 3px;
  width: 10px;
  height: 10px;
  content: "";
}
.form__check label::after {
  position: absolute;
  content: "";
  left: 3px;
  top: 6px;
  width: 3px;
  height: 5px;
  border: solid #273583;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
}
.form__check label a {
  position: relative;
  z-index: 1;
  font-size: 6px;
  color: rgba(40, 45, 167, 0.36);
}
.form__check input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.form__check input:checked ~ label::after {
  opacity: 1;
}

.input__outer {
  width: 100%;
  margin: 14px 0;
}
.input__outer input {
  background: none;
  width: 100%;
  padding: 14px 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  color: #3136A0;
  border: 1px solid #3136A0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.input__outer input::-webkit-input-placeholder {
  color: #3136A0;
}
.input__outer input::-moz-placeholder {
  color: #3136A0;
}
.input__outer input:-ms-input-placeholder {
  color: #3136A0;
}
.input__outer input::-ms-input-placeholder {
  color: #3136A0;
}
.input__outer input::placeholder {
  color: #3136A0;
}
.input__outer input:-moz-placeholder {
  color: #3136A0;
}
.input__outer input:-ms-input-placeholder {
  color: #3136A0;
}

.list__card {
  margin-bottom: 10px;
}
.list__card-header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  color: #3136a0;
  margin-bottom: 20px;
}
.list__card-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #636363;
  padding-bottom: 20px;
  text-align: center;
}

.footer {
  padding: 25px 0;
  background: #3136a0;
}
.footer__inner {
  padding: 0 20px;
}
.footer__inner-logo {
  width: 100%;
  max-width: 180px;
  position: relative;
}
.footer__inner-logo img {
  width: 100%;
}
.footer__inner-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 115%;
  color: #ffffff;
  margin: 20px 0;
}
.footer__inner-subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}
.footer__inner-subtitle a {
  color: #fcd34f;
  font-weight: 400;
}
.footer__inner-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
}
.footer__inner-social {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 22px auto;
}
.footer .form {
  background: #fff;
  padding: 0 20px;
}
.footer .form__inner-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 120%;
  color: #273583;
  font-family: "Cy";
}
.footer .form__inner.hidden {
  display: none;
}
.footer .form__btn {
  color: #fff;
}
.footer .form__btn::after {
  background: #ff8455;
}
.footer .form__btn:disabled {
  color: #ffffff;
}
.footer .form__check label {
  color: rgba(39, 53, 131, 0.4);
}
.footer .form__check label a {
  color: rgba(39, 53, 131, 0.4);
}
.footer .form__complete {
  margin: 0 -20px;
  padding: 100px 20px;
}
.footer .form__complete-image img {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
  opacity: 0.9;
}
.footer .form__complete-icon svg {
  fill: #ff8455;
}
.footer .form__complete-title {
  color: #3374ff;
}
.footer .form__complete-para {
  color: #3374ff;
}
.footer .form__complete.hidden {
  display: none;
}
.footer .input__outer input {
  color: #273583;
  border: 1px solid #3374ff;
}
.footer .input__outer input::-webkit-input-placeholder {
  color: #d0d0d0;
}
.footer .input__outer input::-moz-placeholder {
  color: #d0d0d0;
}
.footer .input__outer input:-ms-input-placeholder {
  color: #d0d0d0;
}
.footer .input__outer input::-ms-input-placeholder {
  color: #d0d0d0;
}
.footer .input__outer input::placeholder {
  color: #d0d0d0;
}
.footer .input__outer input:-moz-placeholder {
  color: #d0d0d0;
}
.footer .input__outer input:-ms-input-placeholder {
  color: #d0d0d0;
}
.footer__copyright {
  padding: 0 20px;
}
.footer__copyright-text {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 148%;
  color: #ffffff;
}

.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.hero__inner {
  position: relative;
  padding: 0 20px;
  z-index: 1;
}
.hero__inner-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 115%;
  color: #3136a0;
}
.hero__inner-content-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
  margin: 10px 0;
}
.hero__inner-content-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.hero__inner-content-btn {
  display: inline-block;
  font-family: "Cy";
  font-family: Impact;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #3136a0;
  margin-top: 10px;
  padding: 9px 25px;
  background: #fcd34f;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero__inner-image {
  width: calc(100% - 40px);
  margin: 0 -20px;
  height: 400px;
  position: relative;
}
.hero__inner-image-abs {
  position: absolute;
  bottom: 0;
  left: -10%;
  height: 100%;
}
.hero__inner-image-abs img {
  height: 100%;
}
.hero__inner-image-abs img:last-child {
  display: none;
}
.hero__inner-image-abs-2 {
  position: absolute;
  bottom: 0;
  left: 30%;
  height: 80%;
}
.hero__inner-image-abs-2 img {
  height: 100%;
}

.process__inner {
  padding: 50px 20px 35px 20px;
}
.process__inner-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #3136a0;
  margin-bottom: 20px;
}
.process__inner-content {
  padding-top: 30px;
  border-top: 1px solid #fcd34f;
}
.process__inner-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #3136a0;
  margin-bottom: 20px;
}
.process__inner-content-para {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: center;
  color: #000;
  margin-bottom: 20px;
}
.process__inner-content-para:last-child {
  margin-bottom: 0;
}

.history__inner {
  background: #3136a0;
  padding: 55px 20px;
}
.history__inner-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 5px;
}
.history__inner-row {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 40px);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow-x: scroll;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.history__inner-row::-webkit-scrollbar {
  display: none;
}
.history__inner-row-column {
  width: calc(100% - 40px);
  margin: 5px;
  padding: 20px;
  min-width: 270px;
  background: #575aaa;
}
.history__inner-row-column:first-child {
  margin: 5px 5px 5px 20px;
}
.history__inner-row-column:last-child {
  margin: 5px 20px 5px 5px;
}
.history__inner-row-image {
  width: 100%;
  height: 170px;
  margin-bottom: 15px;
}
.history__inner-row-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -o-object-fit: cover;
}
.history__inner-row-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #ffffff;
  margin-bottom: 15px;
}
.history__inner .form {
  margin-top: 30px;
}

.quality__inner {
  position: relative;
  padding: 60px 20px;
}
.quality__inner-title {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #3136a0;
}
.quality__inner-para {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.quality__inner-para span {
  font-weight: 700;
  color: #3136a0;
}
.quality__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #fcd34f;
}
.quality__inner-row .quality__inner-para {
  width: calc(50% - 15px);
  padding-right: 15px;
}
.quality__inner-row-image {
  width: 50%;
}
.quality__inner-row-image img {
  width: 100%;
}
.quality__inner-chart {
  width: 100%;
  padding-top: 30px;
}
.quality__inner-chart img {
  width: 100%;
}
.quality__pc {
  display: none;
}

.legal {
  padding: 50px 0 100px 0;
}
.legal__inner h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #445ae8;
  font-size: 58px;
  line-height: 60px;
  font-weight: 500;
  text-align: center;
}
.legal__inner .regtit {
  color: #0d0f56;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 700;
  text-align: center;
}
.legal__inner .rules-item {
  margin-bottom: 5px;
  line-height: 20px;
  color: #0d0f56;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 420px) {
  .form__inner {
    max-width: 600px;
    margin: 0 auto;
  }

  .footer .form {
    max-width: 600px;
    margin: 0 auto;
  }

  .map__under {
    height: unset;
    background: #273583;
  }
}
@media (min-width: 650px) {
  .upheader__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .list__card {
    width: 50%;
  }

  .hero__image img {
    -o-object-position: bottom center;
       object-position: bottom center;
  }

  .form__inner-title {
    text-align: center;
  }

  .form__btn {
    margin: 10px;
  }

  .input__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -10px;
  }
  .input__outer {
    width: calc(50% - 20px);
    margin: 10px;
  }

  .footer__inner-logo {
    margin: 0 auto;
  }
  .footer__inner-logo::after {
    left: 50%;
    transform: translateX(-50%);
    -moz-ransform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
  }
  .footer__inner-title {
    text-align: center;
  }
  .footer__inner-subtitle {
    text-align: center;
  }
  .footer__copyright-text {
    text-align: center;
  }

  .quality__inner {
    display: none;
  }
  .quality__pc {
    display: block;
  }
  .quality__pc-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .quality__pc-row-image {
    width: 30%;
    height: 100%;
  }
  .quality__pc-row-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .quality__pc-row-content {
    width: calc(70% - 40px);
    padding: 0 20px;
  }
  .quality__pc-row-content-title {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #3136a0;
    margin-bottom: 20px;
  }
  .quality__pc-row-content-para {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    margin-bottom: 20px;
  }
  .quality__pc-row-content-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
    border-top: 1px solid #fcd34f;
  }
  .quality__pc-row-content-row .quality__pc-row-content-para {
    width: calc(50% - 15px);
    padding-right: 15px;
  }
  .quality__pc-row-content-chart {
    width: 50%;
  }
  .quality__pc-row-content-chart img {
    width: 100%;
  }

  .history__inner-row {
    overflow: unset;
    width: 100%;
    margin: 20px 0;
  }
  .history__inner-row-column {
    margin: 10px !important;
    width: calc(50% - 40px);
    padding: 10px;
    max-width: unset;
  }
}
@media (min-width: 768px) {
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero__inner-content {
    width: 50%;
  }
  .hero__inner-image {
    margin: 0 -20px 0 0;
    width: calc(50% + 20px);
  }
  .hero__inner-image-abs {
    left: unset;
    right: 0;
  }
  .hero__inner-image-abs img:last-child {
    display: block;
  }
  .hero__inner-image-abs img:first-child {
    display: none;
  }
  .hero__inner-image-abs-2 {
    left: 0;
  }
  .hero__inner-title {
    color: #fff;
  }
  .hero__inner-para {
    color: #fff;
  }
  .hero__overlay {
    width: 500px;
    left: unset;
    right: 0;
  }

  .about {
    padding: 65px 0;
  }
  .about__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 -25px;
  }
  .about__inner-content {
    width: calc(50% - 50px);
    margin: 0 25px;
    padding: 0;
  }
  .about__inner-content::after {
    display: none;
  }
  .about__inner-number {
    margin: 0 25px;
    width: calc(50% - 50px);
    padding: 0;
  }
  .about__inner-number-column {
    width: calc(50% - 30px);
    margin: 5px 15px;
  }
  .about__inner-number-column-num {
    font-size: 42px;
  }
}
@media (min-width: 1024px) {
  .upheader__inner {
    padding: 16px 50px;
  }

  .header__inner {
    padding: 0 50px;
  }

  .hero__inner {
    padding: 0 50px;
  }
  .hero__inner-image {
    margin: 0 -50px 0 0;
    width: calc(50% + 50px);
  }
  .hero__image img:first-child {
    display: none;
  }
  .hero__image img:last-child {
    display: block;
  }

  .history__inner {
    padding: 50px;
  }
  .history__inner-row {
    margin: 0 -10px;
    width: calc(100% + 20px);
  }
  .history__inner-row-column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: calc(50% - 20px);
    margin: 10px !important;
    padding: 20px;
  }
  .history__inner-row-image {
    width: calc(50% - 10px);
    margin: 5px;
  }
  .history__inner-row-image:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .history__inner-row-image:nth-child(3) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .history__inner-row-para {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding: 0 10px;
  }

  .form__inner {
    max-width: 840px;
  }
  .form__btn {
    width: calc(33.3% - 20px);
  }

  .input__outer {
    width: calc(33.3% - 20px);
  }

  .footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 50px 30px 50px;
  }
  .footer__inner-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__inner-content {
    padding-bottom: 0;
    border-bottom: none;
  }
  .footer__inner-logo {
    margin: 0 20px 0 0;
  }
  .footer__inner-title {
    margin: 0 0 20px 0;
    text-align: left;
  }
  .footer__inner-subtitle {
    text-align: left;
  }
  .footer__inner-social {
    margin: 0;
  }
  .footer__copyright {
    padding: 0 50px;
  }

  .quality__pc-row-content {
    width: calc(65% - 80px);
    padding: 0 40px;
  }
  .quality__pc-row-content-title {
    font-size: 32px;
    line-height: 42px;
  }
  .quality__pc-row-content-para {
    font-size: 18px;
  }
  .quality__pc-row-image {
    width: 35%;
  }
}