.footer {
  padding: 25px 0;
  background: #3136a0;
  &__inner {
    padding: 0 20px;
    &-logo {
      width: 100%;
      max-width: 180px;
      position: relative;
      img {
        width: 100%;
      }
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 115%;
      color: #ffffff;
      margin: 20px 0;
    }
    &-subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 130%;
      color: #ffffff;
      a {
        color: #fcd34f;
        font-weight: 400;
      }
    }
    &-content {
      border-bottom: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding-bottom: 20px;
    }
    &-social {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 22px auto;
    }
  }
  .form {
    background: #fff;
    padding: 0 20px;
    &__inner {
      &-title {
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 120%;
        color: #273583;
        font-family: $primary-font;
      }
      &.hidden {
        display: none;
      }
    }
    &__btn {
      color: #fff;
      &::after {
        background: #ff8455;
      }
      &:disabled {
        color: #ffffff;
      }
    }
    &__check {
      label {
        color: rgba($color: #273583, $alpha: 0.4);
        a {
          color: rgba($color: #273583, $alpha: 0.4);
        }
      }
    }
    &__complete {
      margin: 0 -20px;
      padding: 100px 20px;
      &-image {
        img {
          transform: rotateX(0);
          opacity: 0.9;
        }
      }
      &-icon {
        svg {
          fill: #ff8455;
        }
      }
      &-title {
        color: #3374ff;
      }
      &-para {
        color: #3374ff;
      }
      &.hidden {
        display: none;
      }
    }
  }
  .input__outer {
    input {
      color: #273583;
      border: 1px solid #3374ff;
      &::placeholder {
        color: #d0d0d0;
      }
      &:-moz-placeholder {
        color: #d0d0d0;
      }
      &:-ms-input-placeholder {
        color: #d0d0d0;
      }
    }
  }
  &__copyright {
    padding: 0 20px;
    &-text {
      border-top: 1px solid rgba($color: #fff, $alpha: 0.5);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 30px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 148%;
      color: #ffffff;
    }
  }
}
