.form {
  background: #ff8455;
  &__inner {
    padding: 35px 0;
    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;

      span {
        font-weight: 400;
      }
    }
    &.hidden {
      display: none;
    }
  }
  &__complete {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &-image {
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 250px;
      img {
        width: 100%;
        transform: rotateX(180deg);
        opacity: 0.6;
      }
    }
    &-icon {
      svg {
        fill: #fff;
      }
      margin-bottom: 20px;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
      color: #ffffff;
    }
    &-para {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      color: #ffffff;
    }
    &.hidden {
      display: none;
    }
  }
  &__btn {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    font-family: $primary-font;
    color: #fff;
    @include transition;
    display: block;
    position: relative;
    z-index: 1;
    &:disabled {
      opacity: 0.8;
    }
    &::before {
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      background: #3374ff;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &::after {
      position: absolute;
      display: block;
      top: 8px;
      left: 8px;
      background: #fff;
      content: "";
      width: 100%;
      height: 100%;
      z-index: -2;
    }
  }
  &__check {
    display: flex;
    margin-top: 14px;
    position: relative;
    label {
      width: calc(100% - 18px);
      padding-left: 18px;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 140%;
      color: rgba(255, 255, 255, 0.43);
      position: relative;
      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        background: #ededed;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        content: "";
      }
      &::after {
        position: absolute;
        content: "";
        left: 3px;
        top: 6px;
        width: 3px;
        height: 5px;
        border: solid #273583;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
        @include transition;
      }
      a {
        position: relative;
        z-index: 1;
        font-size: 8px;
        color: rgba(255, 255, 255, 0.43);
      }
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked ~ label::after {
        opacity: 1;
      }
    }
  }
}
