.form {
  background: #fcd34f;

  &__inner {
    padding: 40px 20px 20px 20px;
    &-title {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 120%;
      text-align: center;
      color: #273583;
      span {
        font-weight: 700;
        color: #000;
      }
    }
    &.hidden {
      display: none;
    }
  }
  &__complete {
    padding: 100px 0;
    position: relative;
    overflow: hidden;
    &-image {
      position: absolute;
      bottom: 0;
      right: -30px;
      width: 250px;
      img {
        width: 100%;
        transform: rotateX(180deg);
        opacity: 0.6;
      }
    }
    &-icon {
      svg {
        fill: #fff;
      }
      margin-bottom: 20px;
    }
    &-title {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
      text-align: center;
      color: #3136a0;
    }
    &-para {
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 140%;
      text-align: center;
      color: #000000;
    }
    &.hidden {
      display: none;
    }
  }
  &__btn {
    font-family: $primary-font;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    background: #3136a0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: #ffffff;
    padding: 12px 0;
    display: block;
    width: 100%;
    &:disabled {
      opacity: 0.8;
    }
  }
  &__check {
    display: flex;
    margin-top: 14px;
    position: relative;
    label {
      width: calc(100% - 18px);
      padding-left: 18px;
      font-style: normal;
      font-weight: bold;
      font-size: 11px;
      line-height: 140%;
      color: rgba(40, 45, 167, 0.36);
      font-weight: 700;
      position: relative;
      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        background: #ededed;
        border-radius: 3px;
        width: 10px;
        height: 10px;
        content: "";
      }
      &::after {
        position: absolute;
        content: "";
        left: 3px;
        top: 6px;
        width: 3px;
        height: 5px;
        border: solid #273583;
        border-width: 0 1px 1px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        opacity: 0;
        @include transition;
      }
      a {
        position: relative;
        z-index: 1;
        font-size: 6px;
        color: rgba(40, 45, 167, 0.36);
      }
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      &:checked ~ label::after {
        opacity: 1;
      }
    }
  }
}
