@include sm-md {
  .form {
    &__inner {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .footer .form {
    max-width: 600px;
    margin: 0 auto;
  }
  .map__under {
    height: unset;
    background: #273583;
  }
}
@include md-lg {
  .upheader {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
      width: 50%;
    }
  }
  .hero {
    &__image {
      img {
        object-position: bottom center;
      }
    }
  }
  .form__inner-title {
    text-align: center;
  }
  .form {
    &__btn {
      margin: 10px;
    }
  }
  .input {
    &__row {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
    &__outer {
      width: calc(50% - 20px);
      margin: 10px;
    }
  }
  .footer {
    &__inner {
      &-logo {
        margin: 0 auto;
        &::after {
          left: 50%;
          @include transformX;
        }
      }
      &-title {
        text-align: center;
      }
      &-subtitle {
        text-align: center;
      }
    }
    &__copyright {
      &-text {
        text-align: center;
      }
    }
  }
  .quality {
    &__inner {
      display: none;
    }
    &__pc {
      display: block;
      &-row {
        display: flex;
        align-items: center;
        &-image {
          width: 30%;
          height: 100%;
          img {
            @include fullImage;
          }
        }
        &-content {
          width: calc(70% - 40px);
          padding: 0 20px;
          &-title {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 32px;
            color: #3136a0;
            margin-bottom: 20px;
          }
          &-para {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 140%;
            color: #000000;
            margin-bottom: 20px;
          }
          &-row {
            display: flex;
            align-items: center;
            padding-top: 20px;
            border-top: 1px solid #fcd34f;
            .quality__pc-row-content-para {
              width: calc(50% - 15px);
              padding-right: 15px;
            }
          }
          &-chart {
            width: 50%;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .history {
    &__inner {
      &-row {
        overflow: unset;
        width: 100%;
        margin: 20px 0;
        &-column {
          margin: 10px !important;
          width: calc(50% - 40px);
          padding: 10px;
          max-width: unset;
        }
      }
    }
  }
}
@include lg-xlg {
  .hero {
    &__inner {
      display: flex;
      align-items: center;
      &-content {
        width: 50%;
      }
      &-image {
        margin: 0 -20px 0 0;
        width: calc(50% + 20px);
        &-abs {
          left: unset;
          right: 0;
          img {
            &:last-child {
              display: block;
            }
            &:first-child {
              display: none;
            }
          }
          &-2 {
            left: 0;
          }
        }
      }
      &-title {
        color: #fff;
      }
      &-para {
        color: #fff;
      }
    }
    &__overlay {
      width: 500px;
      left: unset;
      right: 0;
    }
  }
  .about {
    padding: 65px 0;
    &__inner {
      display: flex;
      align-items: center;
      margin: 0 -25px;
      &-content {
        width: calc(50% - 50px);
        margin: 0 25px;
        padding: 0;
        &::after {
          display: none;
        }
      }
      &-number {
        margin: 0 25px;
        width: calc(50% - 50px);
        padding: 0;
        &-column {
          width: calc(50% - 30px);
          margin: 5px 15px;
          &-num {
            font-size: 42px;
          }
        }
      }
    }
  }
}
@include xlg-xxlg {
  .upheader {
    &__inner {
      padding: 16px 50px;
    }
  }
  .header {
    &__inner {
      padding: 0 50px;
    }
  }
  .hero {
    &__inner {
      padding: 0 50px;
      &-image {
        margin: 0 -50px 0 0;
        width: calc(50% + 50px);
      }
    }
    &__image {
      img {
        &:first-child {
          display: none;
        }
        &:last-child {
          display: block;
        }
      }
    }
  }
  .history {
    &__inner {
      padding: 50px;
      &-row {
        margin: 0 -10px;
        width: calc(100% + 20px);
        &-column {
          flex-wrap: wrap;
          display: flex;
          width: calc(50% - 20px);
          margin: 10px !important;
          padding: 20px;
        }
        &-image {
          width: calc(50% - 10px);
          margin: 5px;
          &:nth-child(1) {
            order: 1;
          }
          &:nth-child(3) {
            order: 2;
          }
        }
        &-para {
          order: 3;
          padding: 0 10px;
        }
      }
    }
  }
  .form {
    &__inner {
      max-width: 840px;
    }
    &__btn {
      width: calc(33.3% - 20px);
    }
  }
  .input {
    &__outer {
      width: calc(33.3% - 20px);
    }
  }
  .footer {
    &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 30px 50px;
      &-row {
        display: flex;
        align-items: center;
      }
      &-content {
        padding-bottom: 0;
        border-bottom: none;
      }
      &-logo {
        margin: 0 20px 0 0;
      }
      &-title {
        margin: 0 0 20px 0;
        text-align: left;
      }
      &-subtitle {
        text-align: left;
      }
      &-social {
        margin: 0;
      }
    }
    &__copyright {
      padding: 0 50px;
    }
  }
  .quality {
    &__pc {
      &-row {
        &-content {
          width: calc(65% - 80px);
          padding: 0 40px;
          &-title {
            font-size: 32px;
            line-height: 42px;
          }
          &-para {
            font-size: 18px;
          }
        }
        &-image {
          width: 35%;
        }
      }
    }
  }
}
