.upheader {
  background: #fff;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    &-text {
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 16px;
      color: #3374ff;
    }
    &-tel {
      display: flex;
      align-items: center;
      svg {
        margin-right: 5px;
        fill: #3374ff;
      }
      span {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        color: #3374ff;
        text-align: right;
      }
    }
  }
}
